<div class="container" style="margin-top: 20px;margin-bottom: 100px;">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
         <h3><strong>Activities</strong></h3> 
        </div>
        <div class="card-body">
          <div>
            <h5> <strong>Total number of registered activities</strong></h5>
            <h4>{{totalActivities}}</h4>
            <hr>
            <h5 style="color: black;">Activities Table</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Crops</th>
                  <th scope="col">Activity Type</th>
                  <th scope="col">Detail</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody *ngFor="let activity of activities">
                <tr>
                  <th scope="row">{{activity.id}}</th>
                  <td>{{activity.crop_name}}</td>
                  <td>{{activity.activity_id}}</td>
                  <td>{{activity.detail}}</td>
                  <td>{{activity.activity_date  | date:'medium' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Estadisticas
        </div>
        <div class="card-body">

          <iframe height="600" style="width: 100%;"
            src="https://app.powerbi.com/view?r=eyJrIjoiZjcxMjFjODgtNGQ2My00NjgzLWE1NDgtODIzYTc3NmNlMTQ0IiwidCI6ImY5OTE4YWEwLWJlYTgtNDQ4ZS04NzIyLWJkNTYyYjZmOWVjMiJ9"
            frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Project description
        </div>
        <div class="card-body">

          <p style='margin-top:5.0pt;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:13px;font-family:"Calibri",sans-serif;text-align:justify;'>The development of the solution is designed to meet the non-functional requirements detailed in number 1.2.2. and to be able to meet the standards expected by the stakeholder.</p>
<p style='margin-top:5.0pt;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:13px;font-family:"Calibri",sans-serif;text-align:justify;'>Based on the above, the solution will have 3 main architectural patterns that will be detailed below:</p>
<p style='margin-top:5.0pt;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:13px;font-family:"Calibri",sans-serif;text-align:justify;'><strong>1. Microservices:</strong> This architecture will be immersed in the entire application and will allow us to separate different functionalities that it must fulfill.</p>
<p style='margin-top:5.0pt;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:13px;font-family:"Calibri",sans-serif;text-align:justify;'>In the application you can find two backend servers, two frontend servers, an ETL system, a BI system and two Databases. The application will be distributed in each of these, decoupling various functionalities into independent parts.</p>
<p style='margin-top:5.0pt;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:13px;font-family:"Calibri",sans-serif;text-align:justify;'><strong>2. Clean Architecture:</strong> This architectural pattern will be present in the backend of the microservices and will allow us to separate the framework from the business logic and will allow us to have independence from the data model.</p>
<p style='margin-top:5.0pt;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:13px;font-family:"Calibri",sans-serif;text-align:justify;'><strong>3. Model View Controller (MVC):</strong> This architectural pattern will be present in the microservices of the application front since the framework that is going to be used is Angular.</p>

        </div>
      </div>
    </div>

  </div>